body{
  font-family: Helvetica;
  text-align: center
}

#banner {
  transform:translateY(80px);
  background-color: green;
  width: 100%;
  height: 40%;
}
#banner ul li{
  list-style: none;
  display: inline;
}

#introductie { 
  transform: translateY(80px);
  height: 80px;
  width: 45.5%;
  position: relative;
  right: 0%;
}

#image1 {
  position: relative;
  width: 45.5%;
  left: 45.5%;
  display: block;
}
#footbanner {
  transform:translateY(80px);
  background-color: green;
  width: 100%;
  height: 40%;
